body{
	background-color: #5194ca;
}

.login-box{
	display:block;
	width : 450px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.center{
	postion:absolute;
	margin-top:30%;
	margin-left:50%;
 	transform: translate(-50%, -50%) 
}