<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}"
	close="closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}</uib-alert>
<div class="panel panel-default theme-panel">
	<div class="panel-heading">Add Project Form</div>
	<div class="panel-content">
		<div style="padding: 15px">
			<form class="form">
				<div class="form-group">
					<label for="title">Title</label> <input
						type="text" class="form-control" id="username"
						placeholder="Enter Title" data-ng-model="emp.firstName" />
				</div>
				
				<div class="form-group">
					<label for="description">Description</label> <input
						type="text" class="form-control" id="username"
						placeholder="Enter Description" data-ng-model="emp.firstName" />
				</div>
				
				<div class="form-group">
					<label for="stitle">Short Title</label> <input
						type="text" class="form-control" id="username"
						placeholder="Enter Short Title" data-ng-model="emp.firstName" />
				</div>
				
				
			</form>
		</div>
	</div>
</div>

<script type="text/ng-template" id="newEmpConfirmationModal.html">
 	   <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" ng-click="dismissConfirm()">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
           
            <!-- Modal Body -->
            <div class="modal-body">
                <h5>Do you want to add a new employee with the following details?</h5>
                <table class="table table-bordered">
                	<tr>
                		<td>First Name</td>
                		<td>{{emp.firstName}}</td>
                	</tr>
                	<tr>
                		<td>Last Name</td>
                		<td>{{emp.lastName}}</td>
                	</tr>
                	<tr>
                		<td>Date of Birth</td>
                		<td>{{emp.dateOfBirth | date}}</td>
                	</tr> 
                	<tr>
                		<td>Salary</td>
                		<td>{{emp.salary}}</td>
                	</tr>
                </table>
            </div>
           
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-ng-click="add()">yes</button>
                <button type="button" class="btn btn-default" ng-click="dismissConfirm()">No! Wait</button>
            </div>
</script>